*{
	padding:0;
	margin:0;
	-webkit-box-sizing:border-box;
	-moz-boxsizing:border-box;
	box-sizing:border-box;
}

body {background:#FFEE58;}

h1{color:#880E4F;}
h2{color:#8D6E63;}


.contenedor { /*centra toda la pagina al 95% de la pantalla*/
	width: 95%;
	max-width:1000px; /*misma valor que en la clase menu-fixed*/
	margin:auto;
}
.contenedor img{width:auto;}

header nav {
	background:#8BC34A; /*color de la caja del menu    FF6F00        height: 60px;*/
	margin-bottom:10px;
	border-radius:1em;
	width: 77%;
	margin:auto;
	}

header nav ul{ 
	list-style:none;/*elimina las vinetas de cada item del menu*/
	overflow:hidden; /*evita que los parrafos del body queden pegado al ulimo elemento del menu*/
	margin:auto;text-align:center; font-size: 100%;
	
	}

header nav ul li {float:left;} /*permite que los elementos del menu queden en HORIZONTAL va acompanado de overflow hidden siempre*/

header nav ul li a { 
	padding:20px; /*separacion entre cada elemento del menu INICIO basica CAPACITACION*/
	color:#000; /* BLANCO LETRAS*/
	text-decoration: none; /*EVITA QUE CADA ELEMENTO DEL MENU QUEDE SUB RAYADO*/
	display:block; /* DEJA EL ANCHO DEL CONTENEDOR DEL MENU EN UN RECTANGULO*/
	margin:1px;
}

header nav ul li a:hover{
	background: #3E2723;/*#641E16; color sobre el elemento del mouse*/
	border-radius:5em;
	color:#fff;
	margin-bottom:3px;
	margin-top:3px;
}

header nav li ul {  /*OCULTA EL SUBMENU EN CAPACITACION*/
		display:none;
		position:absolute;
		min-width:140px;
		}

header nav li:hover > ul {
			display:block; /*MUESTRA EL SUBMENU EN CAPACITACION HASTA QUE EL MOUSE SE POSICIONA SOBRE EL*/
			position:relative;
			background:#fff;/*#848484; grist tenue*/
			border-radius:1em;
			margin-bottom:3px;font-style: italic;

			}



/****


#nav li ul li ul {right:-140px;	top:10px;}
**************************************/

/*************************************************************************************************/
.menu-fixed
	 {
	position:fixed; /*el menu se queda fijo STIKY*/
	z-index:1000;
	top:0;
	width:60%; 	max-width:77%;/*1000px; estas dos lineas ajustan el tamano del menu tomando en cuenta la caja contenedora por eso usamos el mismo maxWidth de .CONTENEDOR*/
margin-left:10%;
	}
/*************************************************************************************************/

table th, td {border: 1px solid black;}
td {bgcolor:#FAFAFA;}
table#t01{
	width: 80%;
	border: 5px solid black;
	background-color:#EFF5FB;
	margin:auto;
	border: 5px solid black;
	}



.misfotos { /*centra toda la galeria al 50% de la pantalla*/
	width: 300%;
	margin:auto;			
	}


div.gallery { /*borde de donde esta la imagen y texto*/
	margin: 20px;
	/*margin-left: 105px;*/
	margin-left: 3.5%;
	border: 1px solid #ccc;
	float: left;
	width: 180px;
	background:#fff;
	
}

div.gallery:hover {
    border: 1px solid #777;
	}

div.gallery img {
    width: 80%;
    height: 100px;
    margin-left: 15px;}

div.desc {
    padding: 15px;
    text-align: center;}
p {
  font-family: sans-serif;
  font-size: 100%;
  font-style: normal;
  text-align : justify;
}
ul {
	font-weight: bolder;
	margin:auto;
}
.img{
	width: 150px;
	height: 150px;
}